<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: KeenProduct Version: 3.0.8
Purchase: https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">

<head>
  <base href="../../../" />
  <title>Sign Up-TTAST</title>
  <meta charset="utf-8" />
  <meta name="title" content="Intuitive Edge for Effective  Market Strategy
" />
  <meta name="description" content="Intuitive Edge for Effective  Market Strategy
" />
  <meta name="keywords" content="Intuitive Edge for Effective  Market Strategy
" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:locale" content="ko_KR" />
  <meta property="og:type" content="article" />

  <link rel="canonical" href="http://preview.keenthemes.comlayouts/light-sidebar.html" />
  <link rel="shortcut icon" href="assets/media/logos/iqos_logo.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
  <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
</head>

<body id="kt_body" class="app-blank app-blank">
  <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
  <div class="d-flex flex-column flex-root" id="kt_app_root">
    <div class="d-flex flex-column flex-lg-row flex-column-fluid ">
      <div class="wrap_login_area">
        <div class="d-flex flex-center flex-column flex-lg-row-fluid">
          <div class="login_area">
            <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="index.html"
              action="#">
              <div class="text-center  mb-6 mt-6">

                <h1 class="wrap_logo">
                  <img src="assets/media/logos/iqos_logo.png" alt="">
                  <span>사용자 등록</span>

                </h1>

              </div>

              <div class="fv-row mb-8">
                <label class="form-label" for="name_signin">이름 (Name)<span class="requird">*</span></label>
                <input type="text" id="name_signin" placeholder="Name" name="Name" autocomplete="off"
                  class="form-control bg-transparent" />
              </div>
              <div class="fv-row mb-8">
                <label class="form-label" for="email_signin">이메일 (Email)<span class="requird">*</span></label>
                <input type="text" id="email_signin" placeholder="Email" name="email" autocomplete="off"
                  class="form-control bg-transparent" />
              </div>
              <div class="fv-row mb-8">
                <label class="form-label" for="office_signin">지점 Office<span class="requird">*</span></label>
                <select id="office_signin" class="form-select" aria-label="Office">
                  <option>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              
              <div class="fv-row mb-8">
                <label class="form-label d-flex justify-content-between" for="local_sign_in">
                  <span>지역</span>
                  <div class="fs-8 d-flex justify-content-between gap-2">
                    <span >FCE 및 영업사원 대상  </span>
                    <span class="requird">*only for FCE and Sales Rep</span>
                  </div>
                  </label>
                <input type="password" id="local_sign_in" placeholder="Zone을 입력해 주세요" name="Zone" autocomplete="off"
                  class="form-control bg-transparent" />
              </div>
              <div class="fv-row mb-8">
                <label class="form-label" for="email_password">비밀번호 (Password)<span class="requird">*</span></label>
                <input type="password" id="email_password" placeholder="Password" name="password" autocomplete="off"
                  class="form-control bg-transparent" />
              </div>
              
              <div class="d-grid mb-6">
                <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">

                  <span class="indicator-label">Sign Up</span>
                  <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
              </div>
              <div class="text-gray-500 text-center fw-semibold fs-6">
                이미 계정이 있으십니까? 
                <a href="authentication/layouts/corporate/sign-in.html" class="link-primary">Sign-IN</a>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex flex-center flex-wrap px-5 mt-5">
          <div class="d-flex fw-semibold text-gray-500  fs-base">2024© Territory Target Activities System Tool
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>var hostUrl = "assets/";</script>
  <script src="assets/plugins/global/plugins.bundle.js"></script>
  <script src="assets/js/scripts.bundle.js"></script>
  <script src="assets/js/custom/authentication/sign-in/general.js"></script>
</body>

</html>