

@import "font.css";#kt_app_sidebar_logo { } 
#kt_app_sidebar{
    font-family: 'iqos';
}
[data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .logo_area h2, [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .logo_area h2 { display: none; } 


.logo_area { display: flex; align-items: center; } 
.logo_area .tit { margin-bottom: 0; margin-left: 1rem; font-family: 'iqos'; } 
@media (min-width: 992px) { [data-kt-app-sidebar-minimize=on][data-kt-app-sidebar-hoverable=true] .app-sidebar:not(:hover) .app-sidebar-logo .app-sidebar-logo-default { display: flex; } 
 }



